<h1>ALL Profiles</h1>


<table class="table table-bordered">

    <div class="row">

    <div class="col-sm-8">

        

        <table class="table">

            <thead>
            <tr>
                
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                
                
            </tr>
            </thead>
            <tbody>

            {{#each name }}
                <tr>
                    <td>{{name}}</td>
                    <td>{{username}}</td>
                    <td>{{email}}</td>               
                   
                    <td><a href="/edit/{{user._id}}" class="btn btn-info">Edit</a></td>
             <td>

                <form action="/edit/{{user._id}}" method="delete">

                    <button type="submit" class="btn btn-danger">Delete</button>

                </form>


            </td>


                </tr>

            {{/each}}


            </tbody>




        </table>



    </div>


   